.. include:: ../bissc_replacements.rst

************************************************************
Minimum Requirements
************************************************************

.. _lnk-requirements:

The following development tools were used to build and test the release:

Development Environment
------------------------------------------------------------

*  |CCS_NAME|_
*  |COMPILER_NAME|_

   * The code was built for abi = EABI
   * Optimization levels used for benchmarks: -o3 -mf 5
   * For more information, refer to the |OPTIMIZATION_GUIDE|_

Software Development Kit
------------------------------------------------------------

* |SDK_NAME|_ 
* |C2000WARE_NAME|_. C2000Ware is included within the Motor Control SDK.

Hardware
------------------------------------------------------------
The hardware required is documented in |BISSC_TIDM|_.  This includes:

* Supported C2000 LaunchPads
* C2000 device requirements
* The Position Manager BoosterPack (|PM_BP_SHORT_NAME|_)
* A |PROTOCOL_NAME| encoder with an appropriate shielded cable.
